@import "tailwindcss";

body{
    background-color: rgb(167, 180, 186);
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.4s ease forwards;
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }
}
